@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MarkPro";
  font-weight: 700;
  src: url("/MarkPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "MarkPro";
  font-weight: 500;
  src: url("/MarkPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "MarkPro";
  font-weight: 400;
  src: url("/MarkPro-Normal.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  src: url("/NanumSquareNeoTTF-aLt.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  src: url("/NanumSquareNeoTTF-bRg.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  src: url("/NanumSquareNeoTTF-cBd.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  src: url("/NanumSquareNeoTTF-dEb.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  src: url("/NanumSquareNeoTTF-eHv.woff") format("woff");
}

@layer base {
  /* html {
    font-family: "MarkPro";
  } */

  html {
  }
}

:root {
  font-size: 16px; /* 기본 폰트 크기 */
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px; /* 768px 이하일 때 폰트 크기 */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 12px; /* 768px 초과, 1024px 이하일 때 폰트 크기 */
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  :root {
    font-size: 14px; /* 1024px 초과, 1440px 이하일 때 폰트 크기 */
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 16px; /* 1440px 초과일 때 폰트 크기 */
  }
}
